<app-back-page></app-back-page>

<mat-card class="p-4">
  <mat-card-title>Lista de Produtos</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <div class="d-flex justify-content-start align-items-center">
          <img src="../../../assets/imgs/product-default.jpg" alt="" />
          <span>PRODUTO 1</span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-flex justify-content-start align-items-center">
          <img src="../../../assets/imgs/product-default.jpg" alt="" />
          <span>PRODUTO 1</span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-flex justify-content-start align-items-center">
          <img src="../../../assets/imgs/product-default.jpg" alt="" />
          <span>PRODUTO 1</span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <div class="d-flex justify-content-start align-items-center">
          <img src="../../../assets/imgs/product-default.jpg" alt="" />
          <span>PRODUTO 1</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
