<app-back-page></app-back-page>

<div class="container">
  <div class="d-flex justify-content-between">
    <h2>Status dos produtos</h2>
    <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Adicionar Status
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome do Status</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-center">Ações</th>
      <td mat-cell *matCellDef="let element">
        <button color="primary" mat-button (click)="editStatus(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button color="warn" mat-button (click)="deleteStatus(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #dialogTemplate>
  <h1 mat-dialog-title>{{isEditMode ? 'Atualizar' : 'Criar'}} Status</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nome do status</mat-label>
      <input
        matInput
        [(ngModel)]="status.name"
        (input)="status.name = status.name?.toUpperCase()"
      />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
    <button mat-button (click)="saveStatus()">
      {{isEditMode ? 'Atualizar' : 'Criar'}}
    </button>
  </div>
</ng-template>
